.menu-category {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
   background-color: #171717;
}

.menu-category-title {
    font-size: 2rem; 
    font-weight: bold; 
    color: #EABE81;
    margin-bottom: 1rem; 
    padding: 0.5rem 0; 
    text-align: center; 
    width: 100%; 

  }
  .menu-category-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .menu-category-image {
    flex: 1 0 calc(50% - 10px);
    box-sizing: border-box;
    margin: 0 auto;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
    
    .menu-category-image-description {
      margin-top: 0.5rem; 
      text-align: center; 
      color: #EABE81; 
      font-size: 0.875rem; 
    }
  }

