.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.formSection {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.searchForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.searchForm button {
  background-color: #d26500;
  color: white;
  margin: auto;
  width: 70%;
}

#numberOfGuests {
  background-color: white;
  width: 10%;
}

#date {
  background-color: #d26500;
  width: 30%;
}

.row {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}
