.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.formSection {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.searchForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#searchTableBtn {
  background-color: #d26500;
  color: white;
  margin: auto;
  width: 70%;
}



.row {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.searchFormInput{
  width: 100%;
  background-color: white;
}
@media screen and (min-width:769px){
  .container{
      width: 70%;
      margin: auto;
  }
  #searchTableBtn {
    width: 40%;
  }
}