.booking-container {
   width: 100%;
    padding: 20px;
}

.booking-heading {
 margin-bottom: 20px;
 text-align: center;
}
.booking-table-container {
   width: 100%;

}

.booking-table {
    width: 100%;
    border-collapse: collapse;
}
.input-small {
    width: 100%;
    max-width: 150px;
    padding: 4px;
    margin: 0;
    box-sizing: border-box;
}

.booking-table th, .booking-table td {
    text-align: left;
    padding: 8px;
}

.booking-table tr:nth-child(odd) {
    background-color: #EABE81;
    color: #171717;
}
.booking-table tr:nth-child(even) {
    background-color: #171717;
}

.booking-table th {
    background-color: #171717;
    color: white;
}

.orange-btn, .red-btn {
    color: white;
    width: 100px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 13px;
}

.orange-btn{

background-color: #D26500;
}

.red-btn{
    background-color: #931621;
}