nav{
    position: sticky;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #171717;
    z-index: 1;
}
.navLinksContainerDesktop{
    display: none;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    justify-content: center;
    font-family: "Inknut Antiqua", serif; ;
}

.navlinkDesktop{
    font-size: 1.2em;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: #CF9849;
}
.logoContainerMobile, .logoContainerDesktop{

    width: 120px;
}
.logoContainerMobile{
margin-left: 1rem;
}
.logoContainerMobile img, .logoContainerDesktop img{
    width: 100%;
}



@media screen and (min-width: 769px){
    .hamburger-menu-container{
        display: none;
    }
    .logoContainerMobile{
        display: none;
    }

    .navLinksContainerDesktop{
        display: flex;
    }
}