nav{
    position: sticky;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #171717;
    z-index: 1;
}

.logoContainer{
    margin-left: 1rem;
    width: 100px;
}

.logoContainer img{
    width: 100%;
}