#footerLogoContainer{
    width: 110px;
}

#footerLogoContainer img{
    width: 100%;
}

footer{
    margin-top: 10%;
    padding: 1rem;
    font-size: 0.8rem;
    color: #868484;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #171717;
}

.infoContainer p{
    margin: 0;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

.iconContainer{
    padding: 2px;
    width: 27px;
}

.iconContainer img{
    width: 100%;
}