:root {
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

main{
  width: 100%;
}

body {
  color: white;
  background-color: black;
  background-image: url(../src/images/background-pattern.png);
  background-size: auto;
  background-repeat: repeat;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: space-evenly;
}

h1 {
  max-width: 70%;
  font-family: "Inknut Antiqua", serif;
  font-weight: normal;
  font-size: 2em;
  line-height: 1.3;
  text-shadow: 4px 4px 5px rgba(0,0,0,0.69);
}

h2{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.imgContainer{
  width: 75%;
  margin: auto;
}

.imgContainer img{
  width: 100%;
}

button:focus,
button:focus-visible {
  outline: none;
}

.col{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

.textAndImage{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 769px) {
  
  main{
    margin: auto;
    background-color: black;
    width: 70%;
  }

  h1{
    font-size: 3.4em;
  }
  .imgContainer{
    width: 30%;
    margin: auto;
  }

  .textAndImage {
    margin: auto;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}